
.header-box
{
	padding: 10px 0px;
}

/*menu top header content*/
ul{
	list-style: none;
	overflow: hidden;	
	margin: 0;
	padding: 0;
}

.nav-top{
	background-color: #F1F1F1;
	display: inline-block;
	border-radius: 10px;
	float: right;
}

.nav-top li{
	float: left;
	border-right: 1px solid #fff;
}

li:last-child 
{
    border-right: none;
}
  
 li > a{
 	display: block;
 	text-align: center;	
 	text-decoration: none;
  }

.nav-top li a{
	color: #777;	
	padding: 5px 12px;	
}

.nav-top li a:hover:not(.active){
	color: #008753;
}


/*menu bar*/
.nav{
	position: relative;
    z-index: 9;   
	background-color: #9AC56A;
	display: flex;
	padding-left: 120px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul.nav-bar
{	
	overflow: visible;	
}

.nav-bar li
{
	float: left;
	border-right: 1px solid #fff;
}

.nav-bar li:first-child{
	border-left : 1px solid #fff;

}


.home-nav a span
{
	width:23px;
	display: block;
}

.nav-bar li > a
{
	color: #fff;
	padding: 5px 20px;
	text-transform: uppercase;
    font-size: 16px;
    line-height: 35px;
}

.nav-bar li > a:hover 
{
	background: #F68933;
}


body{
	font-size: 14px;
    font-family: 'Arial';
    line-height: 25px;
    margin: 0px;

}

li.dropdown
{
	position: relative;
}

.cart-dropdown
{
	position: absolute;
	white-space: nowrap;
	right: 0;
	max-height: 0px;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	min-width: 350px;
}

.dropdown:hover .cart-dropdown
{
	max-height: 500px;
}

.dropdown-content
{
	padding: 20px;
	border: 1px solid #9AC56A;
	border-top: none;
}

.dropdown:hover
{

}

.dropdown:hover > a:hover
{
	background: #FFF;
	border-right-color: #9AC56A;
	color: #A8DDD6;
}

.cart-dropdown span.cart-header
{
	padding: 8px;
	display: block;
	/*border-bottom: 1px solid #BBBBBB;*/
}



span.sup
{
	text-decoration: underline;
    vertical-align: super;
    font-size: 10px;
}

span.total-cart
{
	text-align: right;
    display: block;	
    border-top: 1px solid #333;
    padding-top: 5px;
}

input.nav-search
{
	border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    height: 23px;
    top: -19px;
    right: 0px;
    outline: none;
    padding: 0px 10px;
    width: 20px;
    transition: 0.3s ease-in-out;
}


a.link-search:hover 
{
    background: none !important;
}

.search-content
{
	visibility: hidden;
	display: inline-block;
	position: relative;
}

.nav-search:hover .search-content 
{
	visibility: visible;
}

.nav-search:hover span.span-search
{
	visibility: hidden;
}

.nav-search:hover .search-content input.nav-search
{
	display: inline-block;
    width: 200px;

}

.nav-search:hover button.btn-search
{
	color: #A8DDD6;
}


li.nav-search:hover
{
	background: none !important;
}

button.btn-search
{
	position: absolute;
    top: -15px;
    right: 3px;
    background: none;
    border: none;
    cursor: pointer;
}

button.btn-search:hover
{
	color: #A8DDD6;
}

.cart-item
{
	display: flex;
	position: relative;
	margin: 5px 0px;
}

.cart-item-img
{
	width: 51px;
	float: left;
}

.cart-item-img img
{
	width: 100%;
}

.cart-itme-info
{
	width: 200px;
	margin-left: 10px;
}

.cart-itme-info  a.item-good-name
{
	display: block;
	text-decoration: none;
	line-height: 16px;
	color: #333;
}

.cart-item-button
{
	right: 0;
	position: absolute;
	top: 2px;
    font-size: 16px;
}

.cart-item-button > a
{
	color: #999
}

.cart-item-button > a:hover
{
	color: #A8DDD6;
}

span.cart-item-price
{
	color: #018445;
}

.action
{
	display: block;
	text-align: right;
}

button.my-btn
{
	padding: 10px 15px;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    color: #fff;
}

button.btn-success
{
	background: #008752;
}

button.btn-success:hover
{
	background: #3E3D3E;
}

.nav-option
{
	background: #EBF5E0;
	padding: 7px 10px;
	color: #1D9464;
}

.nav-location
{
	float: left;
}

.nav-language
{
	float: right;
}

a.language-option
{
	text-decoration: none;
}

a.language-option:first-child
{
	color: #FFF;
    background: #1D9464;
    padding: 0px 15px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    margin-left: 5px;
}

a.language-option:last-child
{
	color: #1D9464;
    background: #BAC297;
    padding: 0px 15px;
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
}

.dropdown-location
{
	display: inline-block;
	position: relative;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #DBDBDB;
	cursor: pointer;
}

a.link-main-location:before
{
	content: '\f041';
	margin-right: 7px;
	font-family: FontAwesome;
}

a.link-main-location:after
{
	content: '\f0d7';
	margin-left: 7px;
	font-family: FontAwesome;
}

a.link-main-location
{
	padding: 1px 10px;
	text-decoration: none;
	color: #1D9464;
}

.dropdown-location:hover > ul
{
	display: block;
}

.dropdown-location > ul
{
	display: none;
	position: absolute;
	width: 100%;
	padding: 0px;
	z-index: 10;
	padding-top: 4px;
	
	border-top: none;
}

.dropdown-location > ul > li
{

	padding: 0px;
}

	

.dropdown-location > ul > li:last-child > a
{
	border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #DBDBDB;
}

.dropdown-location > ul > li:first-child > a
{
	border-radius: 5px 5px 0px 0px;
	border-top: 1px solid #DBDBDB;
}

.dropdown-location > ul > li > a
{
	color: #1D9464;
	display: block;
	background: #fff;
	text-align: left;
	padding: 2px 10px;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
}

.dropdown-location > ul > li > a:hover
{
	background-color: #cecece;
}


.dropdown-location > ul > li > a:before
{
	content: '\f041';
	margin-right: 7px;
	font-family: FontAwesome;
}

.body
{
	padding: 15px;
}


.sidebar
{
	width: 275px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
}

.sidebar-list
{
	padding: 10px 15px;
}

.sidebar-list-header
{
	color: #4F8552;
	border-bottom: 1px solid #DADADA;
	text-transform: uppercase;
    font-size: 19px;
    margin: 15px 0px;
}

.sidebar-list-body > ul
{
	padding: 0px;
}


.sidebar-list-body > ul > li
{
	padding: 0px;

	background: url(img/sidebar-bg.jpg) repeat-x left 42%;
}

.sidebar-list-body > ul > li > a
{

	text-align: left;
	color: #F78933;
	display: inline-block;
	background: #fff;
	padding-right: 5px;
    font-size: 17px;
    padding: 5px 5px 5px 0px;
}


.sidebar-img img
{
	display: block;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}