
#header{
	background-color: #fff;
	
}

.top-link{
	background-color: #EBF5E0;
	position: relative;
	color: #008752;
	padding-left: 115px;
	padding-right: 240px;
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 25px;
}

.top-link-left{
	color: #008752;
	float: left;	
}

.top-link-left-text{

}

.top-link-left-location{
   
    padding: 2px 0 2px 30px;
    position: relative;
    display: inline-block;
}

.current-location{
	background: url('./img/location_icon_new_small.png') no-repeat 5px center;
	background-color: #fff;
	color: #008752;
	padding: 16px;
	border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;

}

.content-location{

	display: none;
	position: absolute;
	min-width: 150px;

}

.content-location a{
	background: url('./img/location_icon_new_small.png') no-repeat 5px center;
	text-decoration: none;
	display: block;
	color: #008752;
}

.content-location a:hover {
	background-color: #CECECE;
}

.top-link-left-location:hover .content-location{
	display: block;
}

.top-link-right{
	float: right;
}

body{
	font-size: 14px;
    font-family: 'Arial';
    line-height: 25px;
    color: #555555;
    text-align: left;
}